       
       <div class="container">
        <div class="container d-flex">

            <div (click)="filterProducts('')" class="w-25 mt-3 text-center">
                <a  style="text-decoration: none;" class="text-dark">
                    <img class="pImage" src="https://i.postimg.cc/cHh3xwNp/all-Product.png" alt="">
                    <h4 >All Products</h4>
                </a>
            </div>
            <!--  -->
            <div (click)="filterProducts('30')" class="w-25 mt-3 text-center">
                <a style="text-decoration: none;" class="text-dark">
                    <img class="pImage" src="https://i.postimg.cc/XvjLwwgv/apple-Logo.png" alt="">
                    <h4 >Apple</h4>
                </a>
            </div>
            <!--  -->
            <div (click)="filterProducts('20')" class="w-25 mt-3 text-center">
                <a  style="text-decoration: none;" class="text-dark">
                    <img class="pImage" src="https://i.postimg.cc/02CJ7hXp/Samsung-Logo.png" alt="">
                    <h4 >Samsung</h4>
                </a>
            </div>
            <!--  -->
            <div (click)="filterProducts('10')" class="w-25 mt-3 text-center">
                <a  style="text-decoration: none;" class="text-dark">
                    <img class="pImage" src="https://i.postimg.cc/RCL0YK1m/Realme-Logo-medium.png" alt="">
                    <h4 >realme</h4>
                </a>
            </div>

        </div>
       </div>
       
       
       
       
       <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div *ngFor="let i of filterData |search:searchData:'productName'" class="col mb-5">
                        <div id="d" class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top productImage" src={{i.productImage}} alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{i.productName}}</h5>
                                    <!-- Product price-->
                                    {{i.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view/{{i.id}}">View</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
